body{
  background-color: #2C2F33;
}

div.mydiv{
  background-color: #C70039;
  height: 110px;
  width: 101.3%;
  margin-left: -10px;
}

div.menuIzquierda{
  background-color: #C70039;
  height: 600px;
  width: 20%;
  border-radius: 20px;
}

div.menuProductos{
  margin-left: 22%;
  margin-top: -618px;
  background-color: #C70039;
  height: 600px;
  width: 77%;
  text-align: center;
  border-radius: 20px;
}

a.paginas{
  background-color: #C70039;
  height: 600px;
  width: 20%;
  border-radius: 20px;
}

#Customers{
  background-color: grey;
  display: inline-block;
  border: 2px solid black;
  border-style: dotted;
  border-collapse: collapse;
}

#Customers td{
  border: 1px solid black;
  text-align: center;
  width: 100px;
}

a.tiposProductos{
  color: white;
  text-decoration: none;
  background-color: #FA9403;
  margin-left: 5px;
  font-size: 20px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

a.tiposProductos:visited{color:white}

a.Categorias{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 13%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

a.Categorias:visited{color:white}

a.btnInicio{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 17%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

a.btnCrearCuenta{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 45%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

div.divLogin{
  text-align: center;
  color: #FA9403;
  font-size: 20px;
}

img.logo{
  margin-left: 43%;
  margin-top:-127px;
  height: 150px;
}

a.Login{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 45%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

a.Login:visited{color:white}

a.Carrito{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 35%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

a.Logout{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 7%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

button.LogoutAdmin{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 80%;
  margin-top: -3.65%;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

div.divAltaProductos{
  margin-top: 5%;
  margin-left: 15%;
}

div.divMenuProductos{
  margin-top: 10%;
  margin-left: 23%;
}
div.divAltaCategorias{
  margin-top: 10%;
  margin-left: 42%;
}
th{
  color: #FA9403;
}

a.btnMenuTienda{
  color: white;
  text-decoration: none;
  background-color: #B40235;
  margin-left: 33%;
  margin-top: 100px;
  font-size: 30px;
  padding: 14px 25px;
  border-style: solid;
  border-color: black;
}

button.Subir{
  margin-left: 37%;
  font-size: 15px;
  padding: 3px 30px;
}

div.ListaProductos{
  text-align: center;
  color: #FA9403;
  margin-left: 12%;
  margin-top: 2%;
  background-color: #C70039;
  height: 600px;
  width: 77%;
  border-radius: 20px;
}

img.imgLarga{
  margin-top: -103px;
  height: 50%;
  width: 100%;
}

img.sponsors{
  height: 140px;
  width: 101.3%;
  margin-left: -10px;
}
